<!DOCTYPE html>
<html>
  <head>
    <title>Sehatq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand navigation-clean">
        <div class="container"><%= link_to('SEHATQ Test', root_path, class: 'navbar-brand') %>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                      <% if current_user %>
                        
                        <%= link_to("Login as : #{current_user.name} | Logout", destroy_user_session_path, class: 'nav-link', method: :delete) %>
                      <% else %>
                        <%= link_to('Masuk / Daftar', new_user_session_path, class: 'nav-link') %>
                      <% end %>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <% if flash[:message] %>
      <div class="alert alert-success text-center" role="alert"><%= flash[:message] %></div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger text-center" role="alert"><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
